.spacer{
    flex: 1 1 auto;
}

.content-box{
    margin: 30px;
    .card-box{
        display: flex;
        .title-box{
            font-size: 20px;
            span{
                font-weight: 600;
            }
        }
        .amount-box{
            .atitle{
                font-size: 16px;
            }
            .avalue{
                font-size: 20px;
                font-weight: 600;
            }
        }
    }
    
}