<mat-toolbar>
    <mat-toolbar-row>
        <div class="logo">
            <img src="assets/logo-bancoripley.svg">
        </div>
        <span class="spacer"></span>
        <button class="logout" color="primary" (click)="logout()" mat-raised-button>Cerrar sesion</button>
    </mat-toolbar-row>
</mat-toolbar>

<div class="content-box">
    <mat-card class="card-box">
        <div class="title-box">
            Bienvenido, <span *ngIf="clientService.clientData">{{clientService.clientData.username}}</span>
        </div>
        <span class="spacer"></span>
        <div class="amount-box">
            <span class="atitle">Saldo disponible: </span>
            <span class="avalue" *ngIf="clientService.clientData">${{clientService.clientData.amount | number: '1.0-0'}}</span>
        </div>
    </mat-card>
</div>

<nav mat-tab-nav-bar>
    <!-- <a mat-tab-link #rlcli="routerLinkActive" [routerLink]="'cliente'" [active]="rlcli.isActive" routerLinkActive="active"> Resumen de cuenta </a> -->
    <a mat-tab-link #rlca="routerLinkActive" [routerLink]="'cargar'" [active]="rlca.isActive" routerLinkActive="active"> Cargar saldo </a>
    <a mat-tab-link #rlre="routerLinkActive" [routerLink]="'retirar'" [active]="rlre.isActive" routerLinkActive="active"> Retirar saldo </a>
    <a mat-tab-link #rltra="routerLinkActive" [routerLink]="'transferir'" [active]="rltra.isActive" routerLinkActive="active"> Transferir </a>
    <a mat-tab-link #rlmo="routerLinkActive" [routerLink]="'movimientos'" [active]="rlmo.isActive" routerLinkActive="active"> Movimientos </a>
</nav>

<router-outlet></router-outlet>
