<h1 mat-dialog-title>Nueva cuenta</h1>
<div mat-dialog-content>
    <div class="content">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
            <mat-form-field class="fieldLogin">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" placeholder="Ingresa tu nombre" formControlName="username" required>
                <mat-error *ngIf="username.hasError('required')">
                    El nombre es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="fieldLogin">
                <mat-label>RUT</mat-label>
                <input matInput type="text" placeholder="Ingresa tu RUT" formControlName="rut" required>
                <mat-error *ngIf="rut.hasError('required')">
                    El RUT es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="fieldLogin">
                <mat-label>Email</mat-label>
                <input matInput type="text" placeholder="Ingresa tu email" formControlName="email" required>
                <mat-error *ngIf="email.hasError('required')">
                    El email es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="fieldLogin">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" placeholder="Ingresa tu contraseña" formControlName="password" required>
                <mat-error *ngIf="password.hasError('required')">
                    La contraseña es requerido
                </mat-error>
            </mat-form-field>
            <div mat-dialog-actions>
                <a mat-button (click)="cancel()">Cancelar</a>
                <button mat-button type="submit" [disabled]="!registerForm.valid" cdkFocusInitial>Registrar</button>
            </div>
        </form>
    </div>
</div>