<div class="container">
    <div class="image-welcome"></div>
    <div class="login-box">
        <div class="logo-login"></div>
        <div class="login-form">
            <h3 class="title">Ingresa a tu cuenta</h3>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field class="fieldLogin">
                    <mat-label>RUT</mat-label>
                    <input matInput type="text" placeholder="Ingresa tu RUT" formControlName="rut" required>
                    <mat-error *ngIf="rut.hasError('required')">
                        El RUT es requerido
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="fieldLogin">
                    <mat-label>Clave</mat-label>
                    <input matInput type="password" placeholder="****" formControlName="pass" required>
                    <mat-error *ngIf="rut.hasError('required')">
                        La clave es requerida
                    </mat-error>
                </mat-form-field>
                <button mat-raised-button class="brand-button submit-btn" type="submit" [disabled]="!loginForm.valid">Ingresar</button>
                <span class="brand-button register-btn" (click)="register()">¿No tienes una cuenta? Registrate</span>
            </form>
        </div>
    </div>
</div>
