* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

.container{
    display: flex;
    min-height: 100vh;

    .image-welcome{
        background: url('../../../assets/image-welcome.png') center/cover no-repeat;
        width: 40%;
        max-width: 570px;
        height: 100vh;
        min-height: 568px;
    }
    .login-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: 60%;
        min-width: calc(60% + (40% - 570px));
        height: 100vh;
        min-height: 568px;
        box-shadow: none;
        background-color: rgb(248, 248, 248);

        .logo-login{
            background-image: url('../../../assets/logo-bancoripley.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 4%;
            left: 7%;
            display: block;
            width: 180px;
            height: 50px;
            background-size: 100%;
        }
        .login-form{
            width: 90%;
            max-width: 450px;
            margin: 0 auto;
            padding: 20px 60px;
            background: rgb(255, 255, 255);
            border-radius: 3px;
            box-shadow: 0 2px 12px 0 rgba(196,196,196,.5);

            .title{
                font-size: 23px;
                padding: 20px 0 0;
                text-align: left;
                color: rgb(67, 67, 67);
            }

            form{
                display: flex;
                flex-direction: column;
                .fieldLogin{
                    width: 100%;
                }
                .brand-button{
                    position: relative;
                    padding: 5px;
                    line-height: 13.5px;
                    height: 48px;
                    text-transform: none;
                    letter-spacing: .2px;
                    max-width: 220px;
                    box-shadow: none;
                    border-radius: 3px;
                }
                .submit-btn{
                    font-size: 13.5px;
                    margin: 10px auto;
                    margin-bottom: 0;
                    width: 100%;
                    background-color: rgb(87, 56, 129);
                    color: rgb(255, 255, 255);
                    &:disabled{
                        opacity: .5;
                    }
                }
                .register-btn{
                    font-size: 15px;
                    opacity: .8;
                    max-width: 250px;
                    background-color: rgb(255, 255, 255);
                    color: rgb(79, 45, 127);
                    margin: 10px auto;
                    margin-top: 0;
                    border: 0;
                    cursor: pointer;
                }
            }
        }
    }
}