<div class="container">
    <div class="title-box">
        <span>Movimientos realizados</span>
    </div>
    <div class="content-box">
        <table mat-table [dataSource]="clientService.dataTable" class="mat-elevation-z8">
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Tipo. </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Monto </th>
                <td mat-cell *matCellDef="let element"> {{element.amount | number: '1.0-0'}} </td>
            </ng-container>
            <ng-container matColumnDef="detail">
                <th mat-header-cell *matHeaderCellDef> Detalle </th>
                <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
            </ng-container>
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Fecha transacción </th>
                <td mat-cell *matCellDef="let element"> {{element.createdAt | date:'medium'}} </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
    </div>
</div>