<div class="container">
    <div class="title-box">
        <span>Depósito de fondos</span>
    </div>
    <div class="charge-box">
        <form [formGroup]="chargeForm"  #formDirective="ngForm" (ngSubmit)="charge(formDirective)">
            <mat-form-field class="fieldLogin">
                <mat-label>Monto a depositar</mat-label>
                <input matInput type="number" formControlName="amount" required>
                <mat-error *ngIf="amount.hasError('required')">
                    El monto es requerido
                </mat-error>
                <mat-error *ngIf="amount.hasError('min')">
                    El monto debe ser mayor que 0
                </mat-error>
            </mat-form-field>
            <button mat-raised-button class="brand-button submit-btn" type="submit" [disabled]="!chargeForm.valid">Depositar</button>
        </form>
    </div>
</div>
