<div class="container">
    <div class="title-box">
        <span>Transferencia de fondos</span>
    </div>
    <div class="charge-box">
        <form [formGroup]="transferForm"  #formDirective="ngForm" (ngSubmit)="transfer(formDirective)">
            <mat-form-field class="fieldLogin">
                <mat-label>RUT de destino</mat-label>
                <input matInput type="text" formControlName="rut" required>
                <mat-error *ngIf="rut.hasError('required')">
                    El rut es requerido
                </mat-error>
            </mat-form-field>
            <mat-form-field class="fieldLogin">
                <mat-label>Monto a transferir</mat-label>
                <input matInput type="number" formControlName="amount" required>
                <mat-error *ngIf="amount.hasError('required')">
                    El monto es requerido
                </mat-error>
                <mat-error *ngIf="amount.hasError('min')">
                    El monto debe ser mayor que 0
                </mat-error>
            </mat-form-field>
            <button mat-raised-button class="brand-button submit-btn" type="submit" [disabled]="!transferForm.valid">Transferir</button>
        </form>
    </div>
</div>
    