.container{
    margin: 30px 20px;
    .title-box{
        font-size: 30px;
    }
    .charge-box{
        padding: 30px 0;
        form{
            button{
                margin-left: 10px;
            }
        }
    }
}